- name: Deploy Dockerized JAR on Local Windows
  hosts: localhost
  connection: local
  gather_facts: no
  tasks:
    - name: Pull image from Docker Hub
      ansible.builtin.command:
        cmd: docker pull kavi123456789/hello-world-maven:0.1.0

    - name: Stop existing container (if running)
      ansible.builtin.command:
        cmd: docker rm -f hello-world-maven
      ignore_errors: yes

    - name: Run container
      ansible.builtin.command:
        cmd: >
          docker run -d
          --name hello-world-maven
          -p 8080:8080
          kavi123456789/hello-world-maven:0.1.0
